@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/*Zerar CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Background*/
html {
    width: 100%;
    height: 100%;
    font-size: 62,5%;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(rgba(17,17,17,0.7),rgba(20,20,20,1)),url(img/img.jpg);
    background-position: center;
    background-size: cover;
}

/*Menu - Header - Navibar*/
header{
    width: 100%;
    height: 7vh;
    background-color: rgba(22,22,22,0.3);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.0rem;
}

.logo{
    font-size: 0.6rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
    padding: 0.8rem;
    text-decoration: none;
    color: white;
}


.menu-content .list-itens{
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.0rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: yellow;
    transition: 1.5s ease;
}

.menu-content .list-itens a:hover:before{
    width: 100%;
}

/*Centro - Conteudo Principal*/

main{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Textos Conteudo Principal*/

.primary-text{
    width: 800px;
    font-size: 3rem; 
    margin-bottom: 2rem;
    text-align: center;
}

.second-text{
    margin-bottom: 4rem;
    font-size: 1.5rem;
    color: rgb(163, 163, 163);
    text-transform: uppercase;
}

/* Botões*/
.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color:white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover{
    color: yellow;
    border: none;
}

.btns button:before{
   content: ' ';
   border-radius: 20px;
   bottom: 0;
   left: 0;
   position: absolute;
   width: 0;
   height: 60px;
   background-color: rgb(163, 163, 163);
   z-index: -1;
   transition: 1s;
}

.btns button:hover::before{
    width: 100%;
 }

 /*Pagina de Contato*/
 .contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: black;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }

 .contato h2{
    color: white;
    font-size: 2.5rem;
    margin: 2rem;
 }

 .contato form{
    display: flex;
    flex-direction: column;
    width: 100%;
 }

 .contato form label{
    color: white;
    font-size: 17px;
    margin-bottom: 4px;
 }

.contato form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
.contato form input:focus{
    border-radius: 16px;
}
 
.contato form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.contato form textarea:focus{
    border-radius: 15px;
}

.contato form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid;
    color: white;
    transition: all 1s;
    margin-bottom: 20px;
}

/*Tela De Obrigado*/
.obrigado{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
} 

.obrigado h1{
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}

.obrigado p{
    color: white;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/*Horarios*/

.horarios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: black;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} 

.horarios h2{
    font-size: 45px;
    color: white;
    margin-bottom: 10px;
}

.horarios form{
    display: flex;
    flex-direction: column;
    width: 100%;
 }

.horarios form label{
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
 }


/*Planos*/

.planos{
    width: 1200px;
    margin: auto;
    align-items: center;
}

.conteudo-planos{
    width: 30%;
    background: rgb(47, 47, 47);
    border-radius: 30px;
    margin: 5px;
    float: left;
    margin-top: 8%;
    text-align: center;
}

.preço{
    width: 120px;
    height: 120px;
    margin: 5%auto 0 auto;
    text-align: center;
}

.detalhes{
    margin-top: -50px;
}

.conteudo-planos h1{
    font-size: 30px;
    color: white;
    line-height: 5;
    text-transform: uppercase;
    margin-bottom: -50px;
}

.preço h2{
    font-size: 40px;
    color: white;
}

.detalhes h4{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: white;
    margin: 4%;
}

.detalhes h5{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: white;
    margin: 4%;
    text-decoration: line-through;
}

.conteudo-planos a{
    text-decoration: none;
    border-radius: 5px;
    border: 5px solid white;
    color: white;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}

.conteudo-planos a:hover{
    border: 5px solid black;
    background: white;
    color: black;
}


/* Versionamento Mobile*/
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

@media screen and (max-width: 730px){
    .menu-content{
        padding: 1.5rem 3rem;
        justify-content: space-between;
    }
    .header-menu{
        padding: 1.5rem 3rem;
        display: none;
    }
    .mobile-menu-icon{
        display: block;
        margin: 10px;
        padding: 10px;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .mobile-menu .list-itens{
        display: block;
        padding: 2rem;
        margin-top: 50px;
    }
    .open{
        display: block;
    }   
    .primary-text{
        width: 550px;
        font-size: 1.8rem;
        justify-content: space-between; 
    }
    .second-text{
        font-size: 1rem;
    }
    .btns button{
        width: 180px;
        height: 40px;
        font-size: 10px;
    }

}
